:root {
    --background: linear-gradient(rgb(255, 255, 255),rgb(255, 108, 108));
    --light: rgb(102, 102, 102);
    --maincolor: rgb(211, 169, 32);
    --secondcolor: rgb(128, 8, 128);
    --thirdcolor: rgb(9, 9, 83);
}

header,
footer {
    margin: 10px;
    text-align: center;
    color: var(--thirdcolor);
}

body {
    background-image: var(--background);
    font-family: arial;
}
nav {
    padding: 5px;
    margin: 5px;
    & a {
        color: var(--light);
        font-weight: bold;
        font-size: larger;
    }
}

section {
    margin: 10px;
    text-align: center;   
}

article {
    margin: 5px;
    position: relative;
    background-image: var(--background);
    & h2 {
        border-radius: 10%;
        color: var(--light);
        display: inline-block;
        position: absolute;
        z-index: 1;
    }
    & p{
        color: var(--light);
        padding-top: 10%;
    }
}

pre {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: var(--light);
}

.workItems {
    display: none;
}

article:hover .workItems {
    display: block;
}

#Horiseon {
    background: url('./Screenshot 2023-09-23 170838.png');
    height: 300px;
    /* color: white;
    & h2, a, p {
        color: white;
    } */
}

#Prework {
    background: url('./Screenshot 2023-09-28 162925.png');
    height: 200px;
    /* color: blue;
    & h2, a, p {
        color: blue;
    } */
}

@media (min-width: 500px) {
    nav ul {
            list-style-type: none;
            display: flex;
            justify-content: center;
            & li {
                margin-left: 10%;
                margin-right: 10%;
            }
        }
    }
