:root {
    --background: linear-gradient(rgb(255, 255, 255),rgb(255, 108, 108));
    --light: rgb(102, 102, 102);
    --maincolor: rgb(211, 169, 32);
    --secondcolor: rgb(128, 8, 128);
    --thirdcolor: rgb(9, 9, 83);
}

header,
footer {
    margin: 10px;
    text-align: center;
    color: var(--thirdcolor);
}

body {
    background-image: var(--background);
    font-family: arial;
}
nav {
    padding: 5px;
    margin: 5px;
    color: var(--light);
}

section {
    margin: 10px;
    text-align: center;   
}

article {
    margin: 5px;
    position: relative;
    background-image: var(--background);
    & h2 {
        border-radius: 10%;
        color: var(--light);
        display: inline-block;
        position: absolute;
        z-index: 1;
    }
    & p{
        color: var(--light);
        padding: 10%;
    }
}

pre {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: var(--light);
}

.workItems {
    display: none;
}

article:hover .workItems {
    display: block;
    background-color: brown;
}

#Horiseon {
    background: url('./Screenshot 2023-09-23 170838.png');
    color: white;
    & a, p {
        color: white;
    }
}

#Prework {
    background: url('./Screenshot 2023-09-28 162925.png');
    color: blue;
    & a, p {
        color: blue;
    }
}