:root {
    --background: linear-gradient(rgb(255, 255, 255),rgb(255, 108, 108));
    --light: rgb(102, 102, 102);
    --maincolor: rgb(211, 169, 32);
    --secondcolor: rgb(128, 8, 128);
    --thirdcolor: rgb(9, 9, 83);
}

header,
footer {
    margin: 10px;
    text-align: center;
    color: var(--thirdcolor);
}

body {
    background-image: var(--background);
    font-family: arial;
}
nav {
    padding: 5px;
    margin: 5px;
    color: var(--light);
}

section {
    margin: 10px;
    text-align: center;   
}

article {
    margin: 5px;
    position: relative;
    background-image: var(--background);
    & h2 {
        border-radius: 10%;
        color: var(--light);
        display: inline-block;
        position: absolute;
        z-index: 1;
    }
    & p{
        color: var(--secondcolor);
        padding-top: 10%;
    }
    /* & pre {
        display: block;
        position: relative;
        margin: 20px;
        border-radius: 5px;
        background-image: linear-gradient(rgb(119, 33, 119), fuchsia);
        color: white;
        text-align: justify;
    } */
}

.workItems {
    display: none;
}

#workplease:hover .workItems {
    display: block;
    background-color: brown;
}